


/* .modal{
background-color: rgb(223, 28, 28);
background-color: rgb(29, 4, 255);
color: #fff;
padding: 30px;
border-radius: 10px;
display: none;
font-size: 20px;
font-weight: bold;
position: absolute;
z-index: 999;
right: 10px;
top: 10px;
transition: all 1s linear
} */
/* .username-validation, .password-validation{
color: red;
display: none;
} */



.usernamevalid, .passwordvalid{
    display: none;
}

.red{
    color: red;
}